{% extends "base.html" %}

{% block content %}


{{ consumo }}


<form action="/{{url_for('cadastrar')}}" method="post" >
    <table>
        <tr>
            <td><label for="data">Data Abastecimento:</label></td>
            <td> <input type="date" id="data" name="data"> </td>
        </tr>

        <tr>
            <td><label for="vlrpl">Valor Por Litro:</label></td>
            <td><input type="number" id="vlrpl" name="vlrpl" oninput="calcular()"></td>
        </tr>

        <tr>
            <td><label for="km">Odometro parcial:</label></td>
            <td><input type="number" id="km" name="km" oninput="calcular()"/></td>
        </tr>

        <tr>
            <td><label for="tanque">Tanque:</label></td>
            <td><input type="number" id="tanque" name="tanque" oninput="calcular()"/></td>
        </tr>

        <tr>
            <td><label for="media"> Media: </label></td>
            <td><input type="number" id="media" name="media" oninput="calcular()"></td>
        </tr>
        <tr>
            <td><label for="totalcombustivel">Total Combustivel:</label></td>
            <td><input type="number" id="totalcombustivel" oninput="calcular()" name="totalcombustivel"></td>
        </tr>

        <tr>
            <td><label>Cidade ou Estrada: </label></td>
            <td><input list="cidadeouestrada" name="cidadeouestrada">
                <datalist id="cidadeouestrada">
                    <option value="Cidade"></option>
                    <option value="Estrada"></option>
                </datalist>
            </td>
        </tr>
        <tr>
            <td><label for="posto">Posto:</label></td>
            <td><input type="text" id="posto" name="posto"></td>
        </tr>
        <tr>
            <td><label for="tipo">Tipo:</label></td>
                <td>
                <input list="tipo" name="tipo">
                    <datalist id="tipo">
                        <option value="Gasolina Comum"></option>
                        <option value="Gasolina Aditivada"></option>
                        <option value="Gasolina Premium"></option>
                        <option value="Etanol"></option>
                        <option value="Diesel S-10"></option>
                        <option value="Diesel S-500"></option>
                        <option value="Podium"></option>
                    </datalist>
                </td>
        </tr>
        <tr>
            <td><label for="vlrpkm">R$/km</label></td>
            <td><input type="text" id="vlrpkm" name="vlrpkm" oninput="calcular()"></td>
        </tr>
    </table>

    <input type="submit" value="Cadastrar">

</form>

<script src="/app/static/calculos.js"></script>


{% endblock %}

